
.carouselContainer {
  width: 100%;
}

.adopted {
  background-color: grey;
}

.opacity {
  opacity: 0.5;
}

.adopted-text {
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  background: linear-gradient(rgb(133, 52, 174), rgb(154, 128, 255));
  text-align: center;
  color: white;
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 30px;
  padding: 5px 50px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.4);
}

.purple {
  background: linear-gradient(rgb(133, 52, 174), rgb(154, 128, 255));
}

.pic {
  border-radius: 100px;
  width: 125px;
  height: 125px;
}

.grayscale {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}
.VueCarousel-slide {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
.VueCarousel-slide > div {
  width: 95%;
  margin: 0 auto;
}

.container-badge {
  width: 48px;
  height: 48px;
}

.container-badge img {
  width: 100%;
  height: 100%;
}
