
#profilPic {
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

.color {
  background: linear-gradient(37deg, #660099 0%, #8161ff 100%);
}

.search-result-list {
  border-radius: 10px;
  min-height: 200px;
  padding: 5px;
  margin: 10px;
  color: white;
}

.adopted {
  background-color: grey!important;
  opacity: 0.5;
}

.adopted-text {
  text-transform: uppercase;
  background: linear-gradient(rgb(133, 52, 174), rgb(154, 128, 255));
  color: white;
  font-family: 'Roboto Condensed';
  font-weight: 700;
  height: 55px;
  margin-top: 150px;
  font-size: 30px;
  padding: 5px 50px;
  border: 1px dashed white;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.4);
}

@media screen and (max-width: 500px) {
  .adopted-text {
    margin-left: -70px;
  }
}

#text-search-result {
  padding: 10px;
}

#badges img {
  max-width: 5vw;
  min-width: 50px;
  height: auto;
}

#text {
  display: flex;
  justify-content: space-between;
}

#next {
  padding-top: 10px;
  padding-right: 20px;
}
