<template>
  <div @click="sendEvent()" class="back">
    <div class="case">
      <div class="mt-2 w-full">
        <img
          class="grayhover mx-auto"
          :class="{'grayscale': !checkList.includes(badge.id)}"
          style="height: 35px"
          :src="badge.img"
        />
      </div>
      <p style="width:100%; text-align:center;">{{badge.name}}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    badge: {
      type: Object,
      default: () => {
        return {
          id: 0,
          name: "Default",
          img: "1"
        };
      }
    },
    checkList: {
      type: Array,
      default: () => {
        return [2, 4];
      }
    }
  },
  methods: {
    sendEvent() {
      this.$emit("ready");
    }
  }
};
</script>

<style lang="css" scoped src="@/assets/css/BadgeCard.css"></style>
