<template>
  <div class="mt-6">
    <div class="flex flex-row justify-center items-center mb-6">
      <p v-if="profils.length > 0" class="text-filters">Nous avons trouvé 
        <span class="bold">{{ profils.length }}</span> 
        <span v-if="profils.length > 1">profils</span>
        <span v-if="profils.length == 1">profil</span> 
        qui peuvent vous intéresser</p>
      <p v-if="profils.length == 0 && selected.length > 0" class="text-filters">Nous sommes désolés, aucun profil de correspond à votre recherche.</p>
    </div>
    <div class="search-result-list" v-for="profil in profils" :key="profil._id" :class="profil.adopted ? 'adopted' : 'color'">
      <div class="flex" style="justify-content: space-between">
        <div>
        <img id="profilPic" class="inline-block pt-2 pl-2 shadow" :src="`${$options.API_HOST}/api/v1/profils/${profil.id}/images/picture`"/>
        <div id="badges" class="inline-block pt-2 pl-4 flex flex-col justify-between" >
          <div v-for="badge in badgesToDisplay(profil)" :key="badge._id" class="flex items-center mt-3">
            <img :src="`${$options.API_HOST}/api/v1/badges/${badge.id}/image`"/>
            <p class="ml-4">{{ getBadgeById(badge.id).name }}</p>
          </div>
            <div id="text">
              <div id="text-search-result">
                <p>{{ profil.contact.firstName}} <span class="bold uppercase">{{ profil.contact.lastName }}</span></p>
                <p>{{ profil.contact.city }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-center">
          <span class="adopted-text" v-if="profil.adopted">Adopté</span>
        </div>
        <div id="next" class="inline-block">
          <nuxt-link :to="{name: 'profil-slug', params: { slug: profil.id + '-' + profil.contact.firstName + '-' + profil.contact.lastName } }">
            <i class="material-icons">arrow_forward</i>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  API_HOST: process.env.API_HOST,
  props: {
    profils: {
      type: Array,
      default: () => {
        return {};
      }
    },
    badges: {
      type: Array,
      default: () => {
        return {};
      }
    },
    selected: {
      type: Array,
      default: () => {
        return {};
      }
    }
  },
  data () {
    return {
      badgeslist: [],
      firstname: "",
      desc: "",
    };
  },
  props: {
    profils: {
      type: Array,
      required: true
    },
    badges: {
      type: Array,
      required: true
    },
    selected: {
      type: Array,
      required: true
    }
  },
  methods: {
    getBadgeById (badgeId) {
      return this.badges.filter(badge => badge.id == badgeId).pop()
    },
    badgesToDisplay (profil) {
      let profilBadgesSelected = []
      let profilBadgesOthers = []
      profilBadgesSelected = profil.badges.filter(badge => this.selected.includes(badge.id))
      if (profilBadgesSelected.length >= 3)
        return profilBadgesSelected.slice(0, 3)
      profilBadgesOthers = profil.badges.filter(badge => !profilBadgesSelected.includes(badge))
      while (profilBadgesSelected.length < 3) {
        profilBadgesSelected.push(profilBadgesOthers[Math.floor(Math.random() * profilBadgesOthers.length)])
      }
      return profilBadgesSelected
    }
  }
}
</script>

<style lang="css" scoped src="@/assets/css/ProfilList.css"></style>

<style scoped>
@media screen and (min-width: 200px) and (test-width: 640px) {
  .text-filters {
    text-align: center;
  }
}
</style>
