<template>
  <div class="video-responsive" v-if="profil.medias.video != 'video.mp4' ">
    <iframe
      width="560"
      height="315"
      :src="profil.medias.video"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media;
          gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</template>

<script>
export default {
  props: ["profil"]
};
</script>

<style lang="css" scoped src="@/assets/css/ProfilVideo.css"></style>
