
<template>
  <div style="width: 100%;">
    <div class="background">
      <img class="w-full min-w-50" src="@/static/banniere.png" />
    </div>
    <div class="main-container">
      <div class="container-text" style="font-weight: bold">
        <div class="first-container-text">
          <span class="desktop:text-2xl text-base nom">{{profil.contact.firstName}} </br> {{profil.contact.lastName}}</span>
        </div>
        <div class="round w-25 h-25 desktop:w-50 desktop:h-50 image">
          <img :src="`${$options.API_HOST}/api/v1/profils/${profil.id}/images/picture`" />
        </div>
        <div class="second-container-text">
          <span class="desktop:text-2xl text-base age">{{ calcAge(profil.contact.birthday) }} ans</span>
          <span @click="mapActive = true" class="desktop:text-2xl text-base">{{profil.contact.city}}</span>
        </div>
      </div>
      <div>
        <p>{{ profil.intro }}</p>
      </div>
      <div class="container-CV">
        <a :href="profil.medias.linkCV" class="CV text-white py-2 px-4 rounded" download="CV">CV</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["profil"],
  API_HOST: process.env.API_HOST,
  data () {
    return {
      age: 0
    };
  },
  methods: {
    calcAge (date) {
      let s = date.split("/");
      return (
        new Date(
          new Date() - new Date([s[1], s[0], s[2]].join("/"))
        ).getFullYear() - 1970
      );
    }
  }
};
</script>

<style lang="css" src="@/assets/css/ProfilHeader.css"></style>
