<template>
  <div id="Projects" v-if="items.length != 0">
    <div class="title">
      <h2 style="text-decoration:underline; font-weight:bold;">Projets</h2>
    </div>
    <div style="margin-left: 25px; margin-right: 25px;"
      v-for="(project, index) in items.slice(0, display === 0 ? items.length : display)"
      :key="project.name"
    >
      <Project :item="project" :align="index % 2 === 0 ? 'left' : 'right'"></Project>
    </div>
    <div style="margin-top: 2em;"></div>
    <a
      @click="toogleDisplay"
      class="mt-6 no-underline text-2xl cursor-pointer plus">
    </a>
    <button
      v-if="items.length > 2"
      @click="toogleDisplay" class="text-white font-bold py-2 px-4 rounded plus">
      {{ display === 0 ? 'Masquer' : 'Voir plus' }}
    </button>
  </div>
</template>

<script>
import Project from "~/components/Project.vue";

export default {
  data() {
    return {
      privateDisplay: -1
    };
  },
  props: {
    items: Array,
    nbDisplay: {
      type: Number,
      default: 2
    }
  },
  components: {
    Project
  },
  computed: {
    display() {
      return this.privateDisplay == -1 ? this.nbDisplay : this.privateDisplay;
    }
  },
  methods: {
    toogleDisplay() {
      if (this.display) {
        this.privateDisplay = 0;
      } else {
        this.privateDisplay = this.nbDisplay;
      }
    }
  }
}
</script>

<style lang="css" scoped src="@/assets/css/Projects.css"></style>
